*.png
*.mp4
*.mp3
*.jpg
*.jpeg
*.gif
*.ico
*.ttf
*.woff
*.woff2
*.eot
*.svg
*.html
*.css
*.js
*.json
*.map
*.lock
*.log
*.txt
*.md
*.zip
*.tar
*.tar.gz
*.gz
*.rar
*.7z
*.sql
*.sql.gz
*.sql.bz2
*.sql.xz
*.sql.lzma
*.sql.lzo
*.sql.lz4
*.sql.lz
*.sql.sql
*.sqlite
*.db

